
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RDA Profile</h1>

<h2>View RDA Profiles</h2>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                RDA ID
            </th>
            <th>
                Email
            </th>
            <th>
                Branch
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>
                    @Model.Rows[i]["RDA_ID"]
                </td>
                <td>
                    @Model.Rows[i]["Email"]
                </td>
                <td>
                    @Model.Rows[i]["Branch"]
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>View Accidents Based on Districts</h2>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Accident ID
            </th>
            <th>
                Driver ID
            </th>
            <th>
                Vehicle
            </th>
            <th>
                District
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                RDA Validate
            </th>
            <th>
                Police Validate
            </th>
            <th>
                Insurance Validate
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>
                    @Model.Rows[i]["Accident_ID"]
                </td>
                <td>
                    @Model.Rows[i]["Driver_ID"]
                </td>
                <td>
                    @Model.Rows[i]["Vehicle_ID"]
                </td>
                <td>
                    @Model.Rows[i]["District"]
                </td>
                <td>
                    @Model.Rows[i]["Date"]
                </td>
                <td>
                    @Model.Rows[i]["Time"]
                </td>
                <td>
                    @Model.Rows[i]["RDA_Validate"]
                </td>
                <td>
                    @Model.Rows[i]["Police_Validate"]
                </td>
                <td>
                    @Model.Rows[i]["Insurance_Validate"]
                </td>
            </tr>
        }
    </tbody>
</table>


