@model CodeZen_SDTP.Controllers.WebMasterController.ModelCollection

@*Register User*@
<div class="container">
    <h2>Register User</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>Police Account</h4>
                    <a class="btn btn-primary btn-block" asp-action="CreatePolice">Create</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>RDA Account</h4>
                    <a class="btn btn-primary btn-block" asp-action="CreateRDA">Create</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>Insurance Account</h4>
                    <a class="btn btn-primary btn-block" asp-action="CreateInsurance">Create</a>
                </div>
            </div>
        </div>
    </div>

    @*View Police Accounts*@
    <div class="row mt-5">
        <div>
            <h2>View Police Accounts</h2>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Police ID
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            District
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Masterer ID
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model._policeList)
                    {
                        <tr>
                            <td>
                                @item.Police_ID
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.District
                            </td>
                            <td>
                                @item.City
                            </td>
                            <td>
                                @item.Created_Master_ID
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*View RDA Accounts*@
<div class="row mt-5">
    <div>
        <h2>View Police Accounts</h2>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        RDA ID
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        Masterer ID
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._rdaList)
                {
                    <tr>
                        <td>
                            @item.RDA_ID
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Branch
                        </td>
                        <td>
                            @item.Created_Master_ID
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    @*View Insurance Accounts*@
<div class="row mt-5">
    <div>
        <h2>View Police Accounts</h2>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Insurance ID
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Insurance Name
                    </th>
                    <th>
                        Masterer ID
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._insuranceList)
                {
                    <tr>
                        <td>
                            @item.Insurance_ID
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Insurance_Name
                        </td>
                        <td>
                            @item.Created_Master_ID
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    @*View Driver Accounts*@
<div class="row mt-5">
    <div>
        <h2>View Police Accounts</h2>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Driver ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Mobile No
                    </th>
                    <th>
                        NIC
                    </th>
                    <th>
                        License No
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._driverList)
                {
                    <tr>
                        <td>
                            @item.Driver_ID
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Mobile_Number
                        </td>
                        <td>
                            @item.NIC
                        </td>
                        <td>
                            @item.License_Number
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>View Accident Reports</h2>
        </div>

        <div class="col-lg-4">
            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="CommonDashboard">View</a>
        </div>
    </div>
</div>