@model CodeZen_SDTP.Controllers.WebMasterController.ModelCollection

@*Register User*@
<div class="container">
    <h2>Register User</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>Police Account</h4>
                    <a class="btn btn-primary btn-block" asp-action="CreatePolice">Create</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>RDA Account</h4>
                    <a class="btn btn-primary btn-block" asp-action="CreateRDA">Create</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>Insurance Account</h4>
                    <a class="btn btn-primary btn-block" asp-action="CreateInsurance">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*View Users*@
<div class="col-md-6">
    <h2>View Police Accounts</h2>

    <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Police ID
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        District
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Masterer ID
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._policeList)
                {
                    <tr>
                        <td>
                            @item.Police_ID
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.District
                        </td>
                        <td>
                            @item.City
                        </td>
                        <td>
                            @item.Created_Master_ID
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>

@*View Vehicle Details*@

<div class="col-md-6">
    <h2>Vehicle Details</h2>

    @*<table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        Vehicle ID
                    </th>
                    <th>
                        Vehicle Registration Number
                    </th>
                    <th>
                        Vehicle Type
                    </th>
                    <th>
                        Driver ID
                    </th>
                    <th>
                        Insurance ID
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rows.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.Rows[i]["Vehicle_ID"]
                        </td>
                        <td>
                            @Model.Rows[i]["Vehicle_Reg_No"]
                        </td>
                        <td>
                            @Model.Rows[i]["Vehicle_Type"]
                        </td>
                        <td>
                            @Model.Rows[i]["Driver_ID"]
                        </td>
                        <td>
                            @Model.Rows[i]["Insurance_ID"]
                        </td>
                        <td> 
                            <a asp-action="AddOrEdit" asp-route-id="@Model.Rows[i]["Driver_ID"]">Edit</a>
                            <a asp-action="Delete" asp-route-id="@Model.Rows[i]["Driver_ID"]">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>View Accident Reports</h2>
        </div>

        <div class="col-lg-4">
            <a class="btn btn-primary btn-block" asp-controller="Home" asp-action="CommonDashboard">View</a>
        </div>
    </div>
</div>